$primary-color: #FFFFFF;
$secondary-color: #bfbfbf;

$crimson-font: 'Crimson Pro';
$monse-font: 'Montserrat';
$lora-font: 'Lora';

* {
    margin: 0; 
    padding: 0;
}

body{
    background: #181719;
}

.container{
    width: 90%;
    max-width: 1440px;
    margin: 2rem auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 245px 1fr 150px;

    .header{
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);


        .logo{
            margin-left: 72px;
            width: 102px;
            height: 32px;
            border: 1px solid $primary-color;
            color: $primary-color;

            font-size: 14px;
            font-weight: 200;
            line-height: 32px;
            text-align: center;
            font-family: $crimson-font;
        }

        .navbar{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 40px;


            a {
                color: $secondary-color;
                text-decoration: none;
                
                font-size: 18px;
                font-family: $monse-font;
                text-transform: capitalize;

                &:hover{
                    text-decoration: underline;
                    text-underline-offset: 0.5rem;
                    font-weight: bold;
                }
            }
        }

    }

    .content{
        padding: 0 70px;
        grid-column: span 2;
        
        display: grid;
        grid-template-columns: 1fr 1fr;

        .text{
            grid-column: 1 / 1;
            padding-top: 140px;

            #title{
                font-family: $lora-font;
                font-weight: 500;
                font-size: 48px;
                color: $primary-color;
            }
            
            #description{
                width: 410px;
                font-family: $monse-font;
                color: $primary-color;
                font-size: 24px;
                font-weight: 400;
                padding: 50px 0;
            }
            

            .read-more{
                display: flex;
                align-items: center;

                font-family: $monse-font;
                font-weight: 700;
                font-size: 18px;
                color: $primary-color;
                
                i {
                    padding-left: 12px;
                    font-size: 21px;
                }
            }
        }

        .images{
            grid-column: span 1;

            .big-image{
                max-width: 740px;
                max-height: 557px;
            }

            .card{
                background: #181719;
                box-shadow: 0px 4px 4px 0px #00000040;


                position: relative;
                left: 40%;
                bottom: 11%;


                width: 410px;
                height: 190px;

                // display: flex;
                // flex-direction: column;
                // justify-content: space-evenly;

                .designer{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 15px 30px ;

                    #photo{
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                    }

                    .sub-text{
                        display: flex;
                        flex-direction: column;
                        height: 40px;
                        justify-content: space-between;

                        #name{
                            font-family: $monse-font;
                            font-weight: 500;
                            font-size: 14px;
                            color: $primary-color;
                        }

                        #job{
                            font-family: $monse-font;
                            font-weight: 500;
                            font-size: 12px;
                            color: #828282;
                        }
                    }
                }

                #card-text{
                    width: 287px;
                    padding: 25px;
                    font-family: $lora-font;
                    font-weight: 700;
                    font-size: 24px;
                    color: $primary-color;
                    
                }

        }
    }
    }
    .footer{
        grid-column: span 2;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        padding: 20px;

        color: $secondary-color;
        font-family: $monse-font;

        span{
            text-decoration: underline;
            text-underline-offset: 3px;
            color: $primary-color;
        }
    }
}